{% include 'MAM/base.html' %} {% load static %} {% block content %}




<div class="container">
    <div class="row row-cols-1 row-cols-md-2 g-4 bg-white">
        <div class="col">
            <div class="card">
                <img src="{% static 'images/back.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="text-center">Co-founder and Director at WRITE4U</h3>
                    <h5 class="card-title">Always Love The ❤️</h5>
                    <p class="card-text"> Love can also refer to a strong like for something or to like something a lot. </p>
                </div>




            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="{% static 'images/back1.jpg' %}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="text-end">Hard-Work 24*7</h5>
                    <p class="card-text">🎂🍫💐🎂"A dream does not become reality through magic; it takes sweat, determination, and hard work." "I'm a great believer in luck, and I find the harder I work, the more I have of it." "Doing the best at this moment puts you in
                    </p>
                </div>
            </div>
        </div>



    </div>

    <div class="container-fluid">
        .
        <div class="p-5 mb-4 bg-light rounded-3">
            <div class="container-fluid py-5">
                <h1 class="display-5 fw-bold">WISH YOU MANY MORE HAPPY RETURN OF THE DAY .. sir </h1>
                <h6 class="display-6 text-center text-capitalize alert-info">My Journey at Here (write4u)</h6>
                <div class="row">
                    <div class="col-sm-7">
                        <p style="text-align: justify;" class="col-md-8 fs-6">Not every stage of the Employee Journey is the same. We all recall our first day at work, but not our second day. Identifying these “moments that matter” is critical to charting the employee experience. It may be quite beneficial
                            in terms of enhancing employee satisfaction.
                            <br> when i Enhance my feelings and Expression understanding very well co-perating for me the Co -founder of ANIRABL SIRThanks You sir

                            <br>when i face any error or work Difficult at the time My Trinner <b>Indranil sir </b> suggest and support how to solve the way of Guidlence given
                            <i>so all the  words Given to  co-founder Anirban sir </i>
                        </p>
                    </div>

                    <div class="col-sm-5">
                        <img src="{% static 'images/group.jpg' %}" alt=" " style="width:520px;height:400px;border:30px solid darkblue ">
                    </div>
                </div>
                <center> <button class="btn btn-primary btn-lg " type="button ">Example button</button></center>
            </div>
        </div>
    </div>

</div>




{% endblock content %}